body{
    margin: 0%;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#rickroll{
    height: 85%;
    width: 85%;
    margin-left: 7.5%;
}
#p{
    font-size: 3vh;
    margin-left: 6%;
}
#copyButton{
    height: 10vh;
    width: 10vw;
    margin-left: 10%;
}
#cat{
    width: 60%;
    height: 60%;
    margin-left: 16%;
    margin-top: -10%;
}
#pCat{
    text-align: center;
    margin-bottom: -5%;
    font-size: 5vh;
    
}
#spanId{
    font-size: 3vh;
    text-align: center;
}